wsdl/CORPSTATE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.baroservice.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.baroservice.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">바로빌 휴폐업조회 서비스</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.baroservice.com/">
      <s:element name="GetCorpState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCorpNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorpStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCorpStateResult" type="tns:CorpState" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CorpState">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StateDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCorpStateEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCorpNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorpStateExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCorpStateExResult" type="tns:CorpStateEx" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CorpStateEx">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CorpType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxTypeChangeDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxTypeBefore" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxInvoiceApplyDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StateDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCorpStates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCorpNumList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCorpStatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCorpStatesResult" type="tns:ArrayOfCorpState" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCorpState">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CorpState" nillable="true" type="tns:CorpState" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCorpStatesEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCorpNumList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorpStatesExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCorpStatesExResult" type="tns:ArrayOfCorpStateEx" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCorpStateEx">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CorpStateEx" nillable="true" type="tns:CorpStateEx" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCorpStateScrapRequestURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorpStateScrapRequestURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCorpStateScrapRequestURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCorpIsMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCorpNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCorpIsMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckCorpIsMemberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistCorp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CEOName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BizType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BizClass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PostNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Addr1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Addr2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JuminNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Grade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TEL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistCorpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistCorpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToCorp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JuminNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Grade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TEL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToCorpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserToCorpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCorpInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CEOName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BizType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BizClass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PostNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Addr1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Addr2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCorpInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCorpInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JuminNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TEL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Grade" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserPWD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserPWDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserPWDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeCorpManager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newManagerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeCorpManagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeCorpManagerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorpMemberContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCorpNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCorpMemberContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCorpMemberContactsResult" type="tns:ArrayOfContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Grade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBalanceCostAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceCostAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBalanceCostAmountResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceCostAmountEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceCostAmountExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBalanceCostAmountExResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceCostAmountOfInterOP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceCostAmountOfInterOPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBalanceCostAmountOfInterOPResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceCostAmountOfInterOPEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceCostAmountOfInterOPExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBalanceCostAmountOfInterOPExResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckChargeable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DocType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckChargeableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckChargeableResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChargeUnitCost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ChargeCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChargeUnitCostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetChargeUnitCostResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChargeUnitCostEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ChargeCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChargeUnitCostExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetChargeUnitCostExResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCashChargeURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCashChargeURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCashChargeURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateRegistDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateRegistDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCertificateRegistDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateExpireDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateExpireDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCertificateExpireDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCERTIsValid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCERTIsValidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckCERTIsValidResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateRegistURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateRegistURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCertificateRegistURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBaroBillURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TOGO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBaroBillURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBaroBillURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistSMSFromNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistSMSFromNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistSMSFromNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSMSFromNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSMSFromNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckSMSFromNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSMSFromNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSMSFromNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSMSFromNumbersResult" type="tns:ArrayOfFromNumber" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFromNumber">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FromNumber" nillable="true" type="tns:FromNumber" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FromNumber">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSMSFromNumberURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSMSFromNumberURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSMSFromNumberURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFaxFromNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFaxFromNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckFaxFromNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFaxFromNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFaxFromNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFaxFromNumbersResult" type="tns:ArrayOfFromNumber" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFaxFromNumberURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CorpNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFaxFromNumberURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFaxFromNumberURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetErrString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CERTKEY" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ErrCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetErrStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetErrStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCorpStateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCorpState" />
  </wsdl:message>
  <wsdl:message name="GetCorpStateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCorpStateResponse" />
  </wsdl:message>
  <wsdl:message name="GetCorpStateExSoapIn">
    <wsdl:part name="parameters" element="tns:GetCorpStateEx" />
  </wsdl:message>
  <wsdl:message name="GetCorpStateExSoapOut">
    <wsdl:part name="parameters" element="tns:GetCorpStateExResponse" />
  </wsdl:message>
  <wsdl:message name="GetCorpStatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCorpStates" />
  </wsdl:message>
  <wsdl:message name="GetCorpStatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCorpStatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCorpStatesExSoapIn">
    <wsdl:part name="parameters" element="tns:GetCorpStatesEx" />
  </wsdl:message>
  <wsdl:message name="GetCorpStatesExSoapOut">
    <wsdl:part name="parameters" element="tns:GetCorpStatesExResponse" />
  </wsdl:message>
  <wsdl:message name="GetCorpStateScrapRequestURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetCorpStateScrapRequestURL" />
  </wsdl:message>
  <wsdl:message name="GetCorpStateScrapRequestURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetCorpStateScrapRequestURLResponse" />
  </wsdl:message>
  <wsdl:message name="CheckCorpIsMemberSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCorpIsMember" />
  </wsdl:message>
  <wsdl:message name="CheckCorpIsMemberSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCorpIsMemberResponse" />
  </wsdl:message>
  <wsdl:message name="RegistCorpSoapIn">
    <wsdl:part name="parameters" element="tns:RegistCorp" />
  </wsdl:message>
  <wsdl:message name="RegistCorpSoapOut">
    <wsdl:part name="parameters" element="tns:RegistCorpResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserToCorpSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserToCorp" />
  </wsdl:message>
  <wsdl:message name="AddUserToCorpSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserToCorpResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCorpInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCorpInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateCorpInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCorpInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPWDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserPWD" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPWDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserPWDResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeCorpManagerSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeCorpManager" />
  </wsdl:message>
  <wsdl:message name="ChangeCorpManagerSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeCorpManagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetCorpMemberContactsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCorpMemberContacts" />
  </wsdl:message>
  <wsdl:message name="GetCorpMemberContactsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCorpMemberContactsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceCostAmountSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalanceCostAmount" />
  </wsdl:message>
  <wsdl:message name="GetBalanceCostAmountSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceCostAmountResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceCostAmountExSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalanceCostAmountEx" />
  </wsdl:message>
  <wsdl:message name="GetBalanceCostAmountExSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceCostAmountExResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceCostAmountOfInterOPSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalanceCostAmountOfInterOP" />
  </wsdl:message>
  <wsdl:message name="GetBalanceCostAmountOfInterOPSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceCostAmountOfInterOPResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceCostAmountOfInterOPExSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalanceCostAmountOfInterOPEx" />
  </wsdl:message>
  <wsdl:message name="GetBalanceCostAmountOfInterOPExSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceCostAmountOfInterOPExResponse" />
  </wsdl:message>
  <wsdl:message name="CheckChargeableSoapIn">
    <wsdl:part name="parameters" element="tns:CheckChargeable" />
  </wsdl:message>
  <wsdl:message name="CheckChargeableSoapOut">
    <wsdl:part name="parameters" element="tns:CheckChargeableResponse" />
  </wsdl:message>
  <wsdl:message name="GetChargeUnitCostSoapIn">
    <wsdl:part name="parameters" element="tns:GetChargeUnitCost" />
  </wsdl:message>
  <wsdl:message name="GetChargeUnitCostSoapOut">
    <wsdl:part name="parameters" element="tns:GetChargeUnitCostResponse" />
  </wsdl:message>
  <wsdl:message name="GetChargeUnitCostExSoapIn">
    <wsdl:part name="parameters" element="tns:GetChargeUnitCostEx" />
  </wsdl:message>
  <wsdl:message name="GetChargeUnitCostExSoapOut">
    <wsdl:part name="parameters" element="tns:GetChargeUnitCostExResponse" />
  </wsdl:message>
  <wsdl:message name="GetCashChargeURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetCashChargeURL" />
  </wsdl:message>
  <wsdl:message name="GetCashChargeURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetCashChargeURLResponse" />
  </wsdl:message>
  <wsdl:message name="GetCertificateRegistDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCertificateRegistDate" />
  </wsdl:message>
  <wsdl:message name="GetCertificateRegistDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCertificateRegistDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetCertificateExpireDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCertificateExpireDate" />
  </wsdl:message>
  <wsdl:message name="GetCertificateExpireDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCertificateExpireDateResponse" />
  </wsdl:message>
  <wsdl:message name="CheckCERTIsValidSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCERTIsValid" />
  </wsdl:message>
  <wsdl:message name="CheckCERTIsValidSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCERTIsValidResponse" />
  </wsdl:message>
  <wsdl:message name="GetCertificateRegistURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetCertificateRegistURL" />
  </wsdl:message>
  <wsdl:message name="GetCertificateRegistURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetCertificateRegistURLResponse" />
  </wsdl:message>
  <wsdl:message name="GetBaroBillURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetBaroBillURL" />
  </wsdl:message>
  <wsdl:message name="GetBaroBillURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetBaroBillURLResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginURL" />
  </wsdl:message>
  <wsdl:message name="GetLoginURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginURLResponse" />
  </wsdl:message>
  <wsdl:message name="RegistSMSFromNumberSoapIn">
    <wsdl:part name="parameters" element="tns:RegistSMSFromNumber" />
  </wsdl:message>
  <wsdl:message name="RegistSMSFromNumberSoapOut">
    <wsdl:part name="parameters" element="tns:RegistSMSFromNumberResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSMSFromNumberSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSMSFromNumber" />
  </wsdl:message>
  <wsdl:message name="CheckSMSFromNumberSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSMSFromNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetSMSFromNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:GetSMSFromNumbers" />
  </wsdl:message>
  <wsdl:message name="GetSMSFromNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:GetSMSFromNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="GetSMSFromNumberURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetSMSFromNumberURL" />
  </wsdl:message>
  <wsdl:message name="GetSMSFromNumberURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetSMSFromNumberURLResponse" />
  </wsdl:message>
  <wsdl:message name="CheckFaxFromNumberSoapIn">
    <wsdl:part name="parameters" element="tns:CheckFaxFromNumber" />
  </wsdl:message>
  <wsdl:message name="CheckFaxFromNumberSoapOut">
    <wsdl:part name="parameters" element="tns:CheckFaxFromNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetFaxFromNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:GetFaxFromNumbers" />
  </wsdl:message>
  <wsdl:message name="GetFaxFromNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:GetFaxFromNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="GetFaxFromNumberURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetFaxFromNumberURL" />
  </wsdl:message>
  <wsdl:message name="GetFaxFromNumberURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetFaxFromNumberURLResponse" />
  </wsdl:message>
  <wsdl:message name="GetErrStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetErrString" />
  </wsdl:message>
  <wsdl:message name="GetErrStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetErrStringResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="BaroService_CORPSTATESoap">
    <wsdl:operation name="GetCorpState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">(구버전) 사업자등록상태조회 (단건)</wsdl:documentation>
      <wsdl:input message="tns:GetCorpStateSoapIn" />
      <wsdl:output message="tns:GetCorpStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCorpStateEx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">사업자등록상태조회 (단건) ('과세유형전환일자', '직전 과세유형', '사업자유형', '세금계산서 적용일자' 항목 추가)</wsdl:documentation>
      <wsdl:input message="tns:GetCorpStateExSoapIn" />
      <wsdl:output message="tns:GetCorpStateExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCorpStates">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">(구버전) 사업자등록상태조회 (대량)</wsdl:documentation>
      <wsdl:input message="tns:GetCorpStatesSoapIn" />
      <wsdl:output message="tns:GetCorpStatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCorpStatesEx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">사업자등록상태조회 (대량) ('과세유형전환일자', '직전 과세유형', '사업자유형', '세금계산서 적용일자' 항목 추가)</wsdl:documentation>
      <wsdl:input message="tns:GetCorpStatesExSoapIn" />
      <wsdl:output message="tns:GetCorpStatesExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCorpStateScrapRequestURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">(구버전) 사업자등록상태조회 서비스 신청 URL</wsdl:documentation>
      <wsdl:input message="tns:GetCorpStateScrapRequestURLSoapIn" />
      <wsdl:output message="tns:GetCorpStateScrapRequestURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckCorpIsMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">회원사 가입여부 확인</wsdl:documentation>
      <wsdl:input message="tns:CheckCorpIsMemberSoapIn" />
      <wsdl:output message="tns:CheckCorpIsMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistCorp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">회원사 가입</wsdl:documentation>
      <wsdl:input message="tns:RegistCorpSoapIn" />
      <wsdl:output message="tns:RegistCorpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToCorp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">회원사 사용자 추가</wsdl:documentation>
      <wsdl:input message="tns:AddUserToCorpSoapIn" />
      <wsdl:output message="tns:AddUserToCorpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCorpInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">회원사 수정</wsdl:documentation>
      <wsdl:input message="tns:UpdateCorpInfoSoapIn" />
      <wsdl:output message="tns:UpdateCorpInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">회원사 사용자 수정</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserInfoSoapIn" />
      <wsdl:output message="tns:UpdateUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPWD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">회원사 사용자 비밀번호 변경</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserPWDSoapIn" />
      <wsdl:output message="tns:UpdateUserPWDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeCorpManager">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">회원사 관리자 변경</wsdl:documentation>
      <wsdl:input message="tns:ChangeCorpManagerSoapIn" />
      <wsdl:output message="tns:ChangeCorpManagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCorpMemberContacts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">회원사 담당자 목록확인</wsdl:documentation>
      <wsdl:input message="tns:GetCorpMemberContactsSoapIn" />
      <wsdl:output message="tns:GetCorpMemberContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">회원사 충전잔액 확인</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceCostAmountSoapIn" />
      <wsdl:output message="tns:GetBalanceCostAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmountEx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">회원사 충전잔액 확인</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceCostAmountExSoapIn" />
      <wsdl:output message="tns:GetBalanceCostAmountExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmountOfInterOP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">연동사 충전잔액 확인</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceCostAmountOfInterOPSoapIn" />
      <wsdl:output message="tns:GetBalanceCostAmountOfInterOPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmountOfInterOPEx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">연동사 충전잔액 확인</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceCostAmountOfInterOPExSoapIn" />
      <wsdl:output message="tns:GetBalanceCostAmountOfInterOPExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckChargeable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">과금가능 여부 확인</wsdl:documentation>
      <wsdl:input message="tns:CheckChargeableSoapIn" />
      <wsdl:output message="tns:CheckChargeableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChargeUnitCost">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">단가 확인</wsdl:documentation>
      <wsdl:input message="tns:GetChargeUnitCostSoapIn" />
      <wsdl:output message="tns:GetChargeUnitCostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChargeUnitCostEx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">단가 확인</wsdl:documentation>
      <wsdl:input message="tns:GetChargeUnitCostExSoapIn" />
      <wsdl:output message="tns:GetChargeUnitCostExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCashChargeURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">포인트 충전 URL 반환</wsdl:documentation>
      <wsdl:input message="tns:GetCashChargeURLSoapIn" />
      <wsdl:output message="tns:GetCashChargeURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateRegistDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">등록한 공동인증서 등록일시 확인</wsdl:documentation>
      <wsdl:input message="tns:GetCertificateRegistDateSoapIn" />
      <wsdl:output message="tns:GetCertificateRegistDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateExpireDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">등록한 공동인증서 만료일 확인</wsdl:documentation>
      <wsdl:input message="tns:GetCertificateExpireDateSoapIn" />
      <wsdl:output message="tns:GetCertificateExpireDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckCERTIsValid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">등록한 공동인증서 상태 확인</wsdl:documentation>
      <wsdl:input message="tns:CheckCERTIsValidSoapIn" />
      <wsdl:output message="tns:CheckCERTIsValidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateRegistURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">공동인증서 등록 URL 확인</wsdl:documentation>
      <wsdl:input message="tns:GetCertificateRegistURLSoapIn" />
      <wsdl:output message="tns:GetCertificateRegistURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBaroBillURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">바로빌 링크 연결 URL확인</wsdl:documentation>
      <wsdl:input message="tns:GetBaroBillURLSoapIn" />
      <wsdl:output message="tns:GetBaroBillURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">바로빌 메인화면 URL 반환</wsdl:documentation>
      <wsdl:input message="tns:GetLoginURLSoapIn" />
      <wsdl:output message="tns:GetLoginURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistSMSFromNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">문자 발신번호 추가</wsdl:documentation>
      <wsdl:input message="tns:RegistSMSFromNumberSoapIn" />
      <wsdl:output message="tns:RegistSMSFromNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSMSFromNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">문자 발신번호 등록여부 확인</wsdl:documentation>
      <wsdl:input message="tns:CheckSMSFromNumberSoapIn" />
      <wsdl:output message="tns:CheckSMSFromNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSMSFromNumbers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">문자 발신번호 목록 반환</wsdl:documentation>
      <wsdl:input message="tns:GetSMSFromNumbersSoapIn" />
      <wsdl:output message="tns:GetSMSFromNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSMSFromNumberURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">문자 발신번호 관리 URL 반환</wsdl:documentation>
      <wsdl:input message="tns:GetSMSFromNumberURLSoapIn" />
      <wsdl:output message="tns:GetSMSFromNumberURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckFaxFromNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">팩스 발신번호 등록여부 확인</wsdl:documentation>
      <wsdl:input message="tns:CheckFaxFromNumberSoapIn" />
      <wsdl:output message="tns:CheckFaxFromNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFaxFromNumbers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">팩스 발신번호 목록 반환</wsdl:documentation>
      <wsdl:input message="tns:GetFaxFromNumbersSoapIn" />
      <wsdl:output message="tns:GetFaxFromNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFaxFromNumberURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">팩스 발신번호 관리 URL 반환</wsdl:documentation>
      <wsdl:input message="tns:GetFaxFromNumberURLSoapIn" />
      <wsdl:output message="tns:GetFaxFromNumberURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetErrString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">오류코드의 상세내용 반환</wsdl:documentation>
      <wsdl:input message="tns:GetErrStringSoapIn" />
      <wsdl:output message="tns:GetErrStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping</wsdl:documentation>
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BaroService_CORPSTATESoap" type="tns:BaroService_CORPSTATESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCorpState">
      <soap:operation soapAction="http://ws.baroservice.com/GetCorpState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorpStateEx">
      <soap:operation soapAction="http://ws.baroservice.com/GetCorpStateEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorpStates">
      <soap:operation soapAction="http://ws.baroservice.com/GetCorpStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorpStatesEx">
      <soap:operation soapAction="http://ws.baroservice.com/GetCorpStatesEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorpStateScrapRequestURL">
      <soap:operation soapAction="http://ws.baroservice.com/GetCorpStateScrapRequestURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCorpIsMember">
      <soap:operation soapAction="http://ws.baroservice.com/CheckCorpIsMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistCorp">
      <soap:operation soapAction="http://ws.baroservice.com/RegistCorp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToCorp">
      <soap:operation soapAction="http://ws.baroservice.com/AddUserToCorp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCorpInfo">
      <soap:operation soapAction="http://ws.baroservice.com/UpdateCorpInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://ws.baroservice.com/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPWD">
      <soap:operation soapAction="http://ws.baroservice.com/UpdateUserPWD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCorpManager">
      <soap:operation soapAction="http://ws.baroservice.com/ChangeCorpManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorpMemberContacts">
      <soap:operation soapAction="http://ws.baroservice.com/GetCorpMemberContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmount">
      <soap:operation soapAction="http://ws.baroservice.com/GetBalanceCostAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmountEx">
      <soap:operation soapAction="http://ws.baroservice.com/GetBalanceCostAmountEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmountOfInterOP">
      <soap:operation soapAction="http://ws.baroservice.com/GetBalanceCostAmountOfInterOP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmountOfInterOPEx">
      <soap:operation soapAction="http://ws.baroservice.com/GetBalanceCostAmountOfInterOPEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckChargeable">
      <soap:operation soapAction="http://ws.baroservice.com/CheckChargeable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChargeUnitCost">
      <soap:operation soapAction="http://ws.baroservice.com/GetChargeUnitCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChargeUnitCostEx">
      <soap:operation soapAction="http://ws.baroservice.com/GetChargeUnitCostEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCashChargeURL">
      <soap:operation soapAction="http://ws.baroservice.com/GetCashChargeURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateRegistDate">
      <soap:operation soapAction="http://ws.baroservice.com/GetCertificateRegistDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateExpireDate">
      <soap:operation soapAction="http://ws.baroservice.com/GetCertificateExpireDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCERTIsValid">
      <soap:operation soapAction="http://ws.baroservice.com/CheckCERTIsValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateRegistURL">
      <soap:operation soapAction="http://ws.baroservice.com/GetCertificateRegistURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaroBillURL">
      <soap:operation soapAction="http://ws.baroservice.com/GetBaroBillURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginURL">
      <soap:operation soapAction="http://ws.baroservice.com/GetLoginURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistSMSFromNumber">
      <soap:operation soapAction="http://ws.baroservice.com/RegistSMSFromNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSMSFromNumber">
      <soap:operation soapAction="http://ws.baroservice.com/CheckSMSFromNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSMSFromNumbers">
      <soap:operation soapAction="http://ws.baroservice.com/GetSMSFromNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSMSFromNumberURL">
      <soap:operation soapAction="http://ws.baroservice.com/GetSMSFromNumberURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFaxFromNumber">
      <soap:operation soapAction="http://ws.baroservice.com/CheckFaxFromNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaxFromNumbers">
      <soap:operation soapAction="http://ws.baroservice.com/GetFaxFromNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaxFromNumberURL">
      <soap:operation soapAction="http://ws.baroservice.com/GetFaxFromNumberURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetErrString">
      <soap:operation soapAction="http://ws.baroservice.com/GetErrString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://ws.baroservice.com/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BaroService_CORPSTATESoap12" type="tns:BaroService_CORPSTATESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCorpState">
      <soap12:operation soapAction="http://ws.baroservice.com/GetCorpState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorpStateEx">
      <soap12:operation soapAction="http://ws.baroservice.com/GetCorpStateEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorpStates">
      <soap12:operation soapAction="http://ws.baroservice.com/GetCorpStates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorpStatesEx">
      <soap12:operation soapAction="http://ws.baroservice.com/GetCorpStatesEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorpStateScrapRequestURL">
      <soap12:operation soapAction="http://ws.baroservice.com/GetCorpStateScrapRequestURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCorpIsMember">
      <soap12:operation soapAction="http://ws.baroservice.com/CheckCorpIsMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistCorp">
      <soap12:operation soapAction="http://ws.baroservice.com/RegistCorp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToCorp">
      <soap12:operation soapAction="http://ws.baroservice.com/AddUserToCorp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCorpInfo">
      <soap12:operation soapAction="http://ws.baroservice.com/UpdateCorpInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap12:operation soapAction="http://ws.baroservice.com/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPWD">
      <soap12:operation soapAction="http://ws.baroservice.com/UpdateUserPWD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCorpManager">
      <soap12:operation soapAction="http://ws.baroservice.com/ChangeCorpManager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCorpMemberContacts">
      <soap12:operation soapAction="http://ws.baroservice.com/GetCorpMemberContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmount">
      <soap12:operation soapAction="http://ws.baroservice.com/GetBalanceCostAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmountEx">
      <soap12:operation soapAction="http://ws.baroservice.com/GetBalanceCostAmountEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmountOfInterOP">
      <soap12:operation soapAction="http://ws.baroservice.com/GetBalanceCostAmountOfInterOP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceCostAmountOfInterOPEx">
      <soap12:operation soapAction="http://ws.baroservice.com/GetBalanceCostAmountOfInterOPEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckChargeable">
      <soap12:operation soapAction="http://ws.baroservice.com/CheckChargeable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChargeUnitCost">
      <soap12:operation soapAction="http://ws.baroservice.com/GetChargeUnitCost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChargeUnitCostEx">
      <soap12:operation soapAction="http://ws.baroservice.com/GetChargeUnitCostEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCashChargeURL">
      <soap12:operation soapAction="http://ws.baroservice.com/GetCashChargeURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateRegistDate">
      <soap12:operation soapAction="http://ws.baroservice.com/GetCertificateRegistDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateExpireDate">
      <soap12:operation soapAction="http://ws.baroservice.com/GetCertificateExpireDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCERTIsValid">
      <soap12:operation soapAction="http://ws.baroservice.com/CheckCERTIsValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateRegistURL">
      <soap12:operation soapAction="http://ws.baroservice.com/GetCertificateRegistURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaroBillURL">
      <soap12:operation soapAction="http://ws.baroservice.com/GetBaroBillURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginURL">
      <soap12:operation soapAction="http://ws.baroservice.com/GetLoginURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistSMSFromNumber">
      <soap12:operation soapAction="http://ws.baroservice.com/RegistSMSFromNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSMSFromNumber">
      <soap12:operation soapAction="http://ws.baroservice.com/CheckSMSFromNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSMSFromNumbers">
      <soap12:operation soapAction="http://ws.baroservice.com/GetSMSFromNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSMSFromNumberURL">
      <soap12:operation soapAction="http://ws.baroservice.com/GetSMSFromNumberURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFaxFromNumber">
      <soap12:operation soapAction="http://ws.baroservice.com/CheckFaxFromNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaxFromNumbers">
      <soap12:operation soapAction="http://ws.baroservice.com/GetFaxFromNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaxFromNumberURL">
      <soap12:operation soapAction="http://ws.baroservice.com/GetFaxFromNumberURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetErrString">
      <soap12:operation soapAction="http://ws.baroservice.com/GetErrString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://ws.baroservice.com/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaroService_CORPSTATE">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">바로빌 휴폐업조회 서비스</wsdl:documentation>
    <wsdl:port name="BaroService_CORPSTATESoap" binding="tns:BaroService_CORPSTATESoap">
      <soap:address location="https://testws.baroservice.com/CORPSTATE.asmx" />
    </wsdl:port>
    <wsdl:port name="BaroService_CORPSTATESoap12" binding="tns:BaroService_CORPSTATESoap12">
      <soap12:address location="https://testws.baroservice.com/CORPSTATE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>